* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$accent-color: #5fbcff;
$text-color: #354051;
$primary-color: #fff;
$small-text-color: #8f8b8b;
$enable-negative-margins: true;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  position: relative;
  color: $text-color;
  font-weight: map-get($font-weight, "medium");

}
.main{
    background: url("/public/images/dark-blue.svg") no-repeat right top/cover;
    background-size: 1280px;
    width: 100%;
    height: 100%; 
    position: absolute;
    top:0;
    right: 0
}
.blue-box{
 right: -25px;
}
.blue-box  img {
  width: 25px; 
}
.w-15{
  width:50px
}
.overlap{
  position: relative;
  z-index: 999;
}

.dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='33' ry='33' stroke='%235FBCFFFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 33px;
}

.mt-7{
  margin-top: 6rem;
}

.card{
  border-radius: 20px;
}
.mt-9{
  margin-top: 8rem;
}

.circle-stroke {
  background: $accent-color;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
}
.circle-stroke::after{
  background: rgba(94, 185, 255, 0.21);
  content: "";
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  
}
.btn{
  font-weight: map-get($font-weight, "medium" );
}
.bg-accent, .btn-accent{
  background-color: $accent-color !important;
  color: #fff;
}
.text-accent,.btn-link{
  color:$accent-color
}
.border-accent{
border-color: $accent-color !important;
border-width: 7px !important;
}
.bg-light-blue{
  background: #eefaff;
}
.unc-img{
  right: -180px; 
  bottom: 220px;
}
.light-bg{
  background: url("/public/images/light-white.svg") no-repeat;
  background-size: cover;
  padding: 200px 0 370px 0;
}
.got-em-bg{
  background: url("/public/images/got-em.png") no-repeat center center;
  background-size: contain;
}
.rectangle-bg{
  background: url("/public/images/rectangle-blue.svg") no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin-top: -230px;
}
.large-twitter{
  top: -26px; width: 250px; right: -10px
}
@media screen and (max-width:992px) {
.main-button{
  background-color: $primary-color !important;
  color: $accent-color;
}
.main-link{
  color: $primary-color;
}
.mt-9{
  margin-top: 4rem;
}
}

@media screen and (max-width:768px) {
  // .mt-sm-15{
  //   margin-top: -130px;
  //   border: 1px solid red;
  // }

  .light-bg{
    padding: 0 0 370px 0
  }
}
/* width */
#scroll-1::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#scroll-1::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
#scroll-1::-webkit-scrollbar-thumb {
  background: $accent-color; 
}

/* Handle on hover */
#scroll-1::-webkit-scrollbar-thumb:hover {
  background: #5fbcffc0;
}
.extra-small{
  font-size: 13.5px;
}

.polar-box{
  min-width: 350px;
  max-width: 430px;
  min-height: 290px;
  display:flex;
  flex-direction: column
}
footer{
  background-color: #f9f9f9; 
  padding: 100px 30px 30px 30px
}