* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$accent-color: #5fbcff;
$text-color: #354051;
$primary-color: #fff;
$small-text-color: #8f8b8b;
$enable-negative-margins: true;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background: url("/public/images/dark-blue.svg") no-repeat right top/cover;
  background-size: 1280px auto; 
  color: $text-color;
  font-weight: map-get($font-weight, "medium");

}

.dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='33' ry='33' stroke='%235FBCFFFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 33px;
}

.mt-7{
  margin-top: 6rem;
}

.card{
  border-radius: 20px;
}
.mt-9{
  margin-top: 8rem;
}

.circle-stroke {
  background: $accent-color;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
}
.circle-stroke::after{
  background: rgba(94, 185, 255, 0.21);
  content: "";
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  
}
.btn{
  font-weight: map-get($font-weight, "medium" );
}
.bg-accent, .btn-accent{
  background-color: $accent-color !important;
  color: #fff;
}
.text-accent,.btn-link{
  color:$accent-color
}

